:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif';
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

thead {
    background-color: rgb(0, 0, 70);
    color: aliceblue;
}

th {
    padding: 10px 0;
}

td {
    padding: 10px 0;
}

tbody tr:hover {
    cursor: pointer;
    border: 0.1px solid;
}

tbody tr:nth-child(odd) {
    background-color: aliceblue;
}